<%= render 'shared/header' %>

<%#ユーザー管理機能%>

<ul>
  <% if user_signed_in? %>
    <li><%= link_to '勝ったときはこちら', new_income_path %></li>
    <li><%= link_to '負けたときはこちら', new_payment_path %></li>
    <li><%= link_to '収支', incomes_path %></li>
  <% end %>
</ul>
