.top-page-header {
  background-color: green;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  margin: 0;
}

.header-nav .nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

.login-btn, .logout-btn, .signup-btn, .user-nickname {
  color: yellow;
  text-decoration: none;
}

.logout-btn:hover, .login-btn:hover, .signup-btn:hover {
  text-decoration: underline;
}

